.container{
    display:flex;
    flex-wrap: wrap;
    max-width: 500px;
  }
  .item{
    width:50px;
    height: 50px;
    border: 2px solid rgb(10, 10, 10);
    padding: 2%;
    margin-right: 5px;
    margin-bottom: 2px;
    // order: 1,1, 5opx;
  }
  
  .row {
    display: flex;
  }
  
  .red{
    background-color: #fff;
  }
  .blue{
    background-color: #000;
  }